services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    container_name: educonnectBackend
    env_file:
      # <--- AÑADE ESTA SECCIÓN
      - .env
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"

volumes:
  pos_db_data:

    # Nota: Asegúrate de que los nombres de los servicios y las variables de entorno coincidan con tu configuración real.
