# Django
SECRET_KEY=abcdefghijklmnopqrstuvwxyz0123456789
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos PostgreSQL
DB_NAME=dbeduconet
DB_USER=Educonnect_user
DB_PASSWORD=Educonnect_secure_password_2024
DB_HOST=postgres
DB_PORT=5432

# Cloudinary
CLOUDINARY_CLOUD_NAME=dkiu0utis
CLOUDINARY_API_KEY=118621987211617
CLOUDINARY_API_SECRET=Tdb6zkKuwKV2zs06sSC0Yr9G8HU
USE_CLOUDINARY=true